@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;800;900&family=Montserrat:wght@600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


:root {
    --cor-branco: #fff;
    --cor-roxo-princial: #6b34e2;
  }

/* 
--------------------------------
--Botão open/close menu inicio-- 
--------------------------------
*/

.menu-btn{
    display:none;
  }
  
  .lbl-menu-btn{
    position: absolute;
    display:block;
    width:35px;
    height:30px;
    padding:10px;
    right: 0;
    z-index: 1000;
  }
  
  .icon, .icon::after, .icon::before
  {
    display:block;
    width: 35px;
    height:3px;
    background:#C9C9C9;
    transition:0.3s;
  }
  
  .icon::after,.icon::before{
    position:absolute; 
    content:'';
  }
  
  .icon{
    margin-top:10px;
  }
  .icon::after{
    margin-top: -10px;
  }
  .icon::before{
    margin-top: 10px;
  }
  .menu-btn:checked  ~ label > .icon::before {
     transform: rotate(-45deg);
     margin-top:0px;
  } 
  
  .menu-btn:checked  ~ label > .icon::after {
     transform: rotate(45deg);
     margin-top:0px;
  } 
  .menu-btn:checked ~ label > .icon {
     background:transparent;
  } 
  
  .nav-bar .menu-btn:checked ~ .nav-bar-items {
    width:100vw;
    border-bottom: 1px solid var(--cor-branco);
    
  }
/* 
--------------------------------
--Botão open/close menu fim-- 
--------------------------------
*/

/* 
--------------------------------
--Card Curriculum Inicio-- 
--------------------------------
*/

.card-curriculum{
    display:block;
    border-left: 6px solid var(--cor-roxo-princial);
    padding:5px;
    border-radius:5px;
    margin-top: 10px;
  }
  
  .card-curriculum-item i{
    margin-right:5px;
    font-weight: bold;
  }
  
  .card-curriculum-item {
    display:block;
    margin-top:5px;
  }

/* 
--------------------------------
--Card Curriculum fim-- 
--------------------------------
*/

html{
    scroll-behavior:smooth;
}
body{
    margin: 0;
    font-family: 'Inconsolata', monospace;
    font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: #b6b6b6;
    border-radius: 20px;
}
body, .line-efect, ul{
    cursor: url('./assets/imagens/cursor-seta.png'),auto;
}
a {
    text-decoration: none;
    color: black;   
}
.group-projeto,a{
    cursor: url('./assets/imagens/cursor-mao.png'),auto;
}
p{
    text-indent: 50px;
    margin-bottom: 0;
    margin-top: 0;
}
h1{
    font-size: 3rem;
    font-family: "Impact", -apple-system, BlinkMacSystemFont, "Segoe UI";
    color: #343a40;
    letter-spacing: 5px;
    text-align: center;
}
h2{
    display: inline;
    font-size: 2.5rem;
}

.nav-bar{
    position: absolute;
    width: 100%;
    justify-content : flex-end;
    background-color: var(--cor-roxo-princial);
    color: var(--cor-branco);;
    z-index: 1000;  
    transition-property: height;
    transition-duration: 4s;
}

.nav-bar a {

    color: var(--cor-branco);;
    padding-top: 20px;
    padding-bottom:20px;
    margin-right: 10px;
}

.box-principal{
    display: flex;
    margin: 0px;
}
.img-perfil{   
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid var(--cor-branco);;
    margin: 5px;
}

.conteiner-conteudos{
    width: 100%;
    margin-right: 100px;
    overflow: scroll;

}
.quadro-info{
    text-align: justify;
    min-height: 400px;
}
.quadro-info-title{
    display: flex;
    align-items: center;
    max-height: 50px;
}
.quadro-info-detail ul{
    margin-top: 0;
    list-style: none;
}
.paleta-linguagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.paleta-linguagens img{
    top: 10px;
    transition: 0.5s;
    margin: 0;
    max-width: 180px;
}

.quadro-info-detail{
        margin-top: 10px;
}
.info{
    position:absolute;
    display: flex;
    z-index: -1;
}
.item-info:hover .info{
    z-index: 1;
}

footer{ 
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #6b34e2;
    color: var(--cor-branco);;
}
.footer-container{
    margin-left: 100px;
    margin-right: 100px;
}

.footer-container-row{
    display: flex;
    justify-content: space-evenly;
}
.footer-container-row ul{
    list-style: none;
    padding-left: 0;
}


.banner{
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     
}
.container{
    margin-left: 100px;
    margin-right: 100px;
}
.item-nav-ativo{
    display: block;
    padding-top: 10px ;
    padding-bottom: 10px;
    background-color: var(--cor-branco);;
    border-radius: 5px;
}

.banner-facha {
    position: absolute;
    background-color: var(--cor-roxo-princial);;
    width: 100%;
    min-height: 480px;
    height: 80vh;
    max-height: 560px;
    box-sizing: border-box;
    padding: 48px 48px 32px;
    transform: skewY(10deg);
    transform-origin: 100%;
    z-index: -1;
}
.group-img{
    transition: heigth 1s;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    max-height: 220px;
    overflow: hidden;
}

.group-img:hover, .palheta-projetos img{
    box-shadow: 0px 0px 10px rgb(185, 183, 183);
}

.img-info{ 
    width:180px;
    height: 0;
    overflow-wrap: break-word;
    transform-origin: right;
    transition: 0.5s;


}
.img-info p { 
    color: var(--cor-roxo-princial);;
}
.group-img img{
    transition: 0.7s;
    background-color: var(--cor-branco);;
}
.group-img:hover.group-img img {
    transform: rotateZ(360deg);
    margin-top: 100px;
}
.group-img:hover .img-info {
    width: 180px;
    height: 400px;
}

.palheta-projetos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 50px;
}

.group-projeto{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    background-color: var(--cor-roxo-princial);;
    border-radius: 5px;
    margin: 10px;
    overflow: hidden;
}

.projeto-mais-imagens{
    position: absolute;
    opacity: 0%;
    color: var(--cor-branco);;
}
.projeto-mais-imagens i{
    font-size: 50px;
    display: block;
}

.group-projeto:hover .projeto-mais-imagens{
    opacity: 100%;
}
.group-projeto:hover img{
    opacity: 0%;
}
.projeto-mais-imagens:hover img{
    opacity: 0%;
}

.palheta-projetos img {
    max-width: 400px;
    transition: 0.4s;
    transition-timing-function: ease;
}
.box-imagens{
    display: none;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 2000;
    background-color: var(--cor-branco);;
}

.quadro-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quadro-imagen-conteudo{
    display: flex;
    align-items: center;
    margin-top: 60px;
    border-radius: 5px;
    box-shadow: 0 0 10px 4px  #dadada;
    width: 700px;
}

.quadro-imagen-conteudo-controle{
    position: absolute;
    display: flex;
    justify-content:space-between;
    width:inherit;
    color: rgb(255, 0, 0);
}

.box-imagens img{
    width:inherit;
}
.quadro-imagen-conteudo img{
    transition: 0.4s;
    animation: apresentacao 0.4s;
}
.amostra-imagens-miniaturas{
    margin-top: 10px;    
    display: flex;
    width: 50%;
    height: 180px;
}

@keyframes apresentacao{
    from {opacity: 0%;}
    top {opacity: 100%;}
}
.close {
    position: absolute;
    display: block;
    top: 10px;
    right: 20px;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    color: var(--cor-roxo-princial);;
}

section{
    scroll-margin-top:80px;
    border: 1px #dadada solid;
    box-shadow: 0 0 10px 1px  #dadada;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
section:hover{
    box-shadow: 0 0 10px 4px  #dadada; 
}

.letreiro{
    display: inline-block;
    width: 0;
    overflow: hidden;
    border-right: 4px solid var(--cor-roxo-princial);
    white-space: nowrap;
    animation:  escreverCompetencias 1s steps(20,end) forwards,
                piscarBordaOrange  0.7s  infinite;
}

@keyframes escreverCompetencias{
    from {width: 0;}
    to {width: 100%;}
}

@keyframes piscarBordaOrange {
    from {border-color: transparent;}
    to {border-color: #6b34e2;}
}

.icon-whatsapp{
    position: fixed;
    right: 10px;
    bottom: 5px;
    color: #12ce3a;
    font-size: 50px;
    cursor: pointer;
    z-index: 2000;

}

@media screen and (max-width:650px) {

    .img-perfil{
        width: 50%;
        height: auto;
    }

    .nav-bar-items{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 30px;
        height: 100vh;
        right: 0;
        width: 0;
        overflow: hidden;
        transition: width 0.3s ease-in-out;
        background-color: var(--cor-roxo-princial);
    }
    .nav-bar-items a {
        display: block;
        text-align: center;
        overflow: hidden;
    }

    .container {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width:651px) {
    
    .banner-facha{
        height: 50vh;
    }
    .nav-bar{
        position: fixed; 
        display: block; 
        width: 100vw;
    }
    .nav-bar .lbl-menu-btn{
        display: none;
    }
    .nav-bar a{
        display: inline-block;
        padding-left: 10px; 
    }
}
